body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* =========== Nav =============================================== */
.nav {
  /* background-color: rgb(247, 247, 252, 0.20); */
  color: rgb(78, 76, 76);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  /* gap: 10rem; */
  padding: 1rem 2rem;
  /* font-family: "Times New Roman"; */
  font-size: 17px;
  margin: 20px;
  font-weight: bold;
  /* position: fixed; */
}

.nav ul {
  background:rgb(255, 255, 255);
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.nav li.active {
  border-radius: 5px;
  height: 10px;
  background-color: rgb(182, 181, 181);
}

.nav li:hover {
  background-color: rgb(71, 71, 71);
}

/* ==========home====================== */
.home {
  text-align: center;
  margin-top: 70px;
  /* margin-right: 200px; */
  font-size: 60px;
  color: rgb(111, 135, 232);
}

.logoutButton {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right : 10px;
  position:absolute;
  top: 20px;
  right:20px;
}

.logoutButton:hover {
  background-color: rgb(249,250,251);
}

.logoutButton:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.logoutButton:focus-visible {
  box-shadow: none;
}

/* .grid {
  display: grid;
  display: flex;
  flex: 50%;
} */

.home-table {
  width: 80%;
  margin-top: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
/* .title-div {

}  */

.table-title {
  margin-left: 15rem;
  top: 10px;
  /* left:20px;  */
  position: relative;
}

table {
  border: 3px solid rgb(39, 34, 139);
  width: 800px;
  height: 100px;
}
  
th {
  border-bottom: 1px solid black;
}
  
td {
  text-align: center;
}

/* ============================Login===================== */
.login {
  text-align: center;
  margin-top: 150px;
  /* margin-right: 200px; */
  font-size: 60px;
  color: rgb(55, 89, 222);
}

.submitButton {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 6rem;
  margin-top: 1rem;
}

.submitButton:hover {
  background-color: rgb(249,250,251);
}

.submitButton:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.submitButton:focus-visible {
  box-shadow: none;
}

.loginForm {
  width: 250px;
  margin: 2em auto;
  padding: 1em 2em 1em 1em;
  background: #fafafa;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.login-input {
  text-align: center;
  font-size: 18px;
  /* font-style: bold; */
  padding: 10px 10px 10px 1px;
  display: block;
  background: #e8e6e6;
  color: #343333;
  width: 100%;
  border: none;
  border-radius: 0;
}